@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-align: center;
}

h2 {
  font-size: 18px;
}

.nav {
  padding: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */
}

.nav .logo img {
  width: 2.5rem;
}

.nav .container {
  display: inline-block;
  padding: 5px 0 0;
  cursor: pointer;
  position: absolute;
  right: 0.8em;
  top: 10px;
  background-color: white;
}

.nav .container .bar1,
.nav .container .bar2,
.nav .container .bar3 {
  width: 2rem;
  height: 0.2rem;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.nav .change .bar1 {
  transform: rotate(-45deg) translate(-0.6rem, 0.6rem);
}

.nav .change .bar2 {
  opacity: 0;
}

.nav .change .bar3 {
  transform: rotate(45deg) translate(-0.25rem, -0.15rem);
}

.nav .navigation {
  background-color: white;
  position: absolute;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0;
  transform: translateY(-300px);
  transition: transform 0.6s ease-out, height 1.25s ease-out, visibility 2s;
}

.nav .navigation a {
  padding: 2px;
  text-align: center;
  color: black;
}

.nav .navigation.active {
  transform: translateY(0px);
  transition: transform 1s ease-out, height 0.2s ease-out, visibility 2s;
  visibility: visible;
  height: 120px;
}

header {
  margin-top: 60px;
}

header .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

header .profile-pic {
  background: #d8eef3 url(../images/profile-pic.png);
  border: 0.4rem #03dac5 solid;
  width: 42vw;
  height: 42vw;
  max-width: 80vh;
  max-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .web {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .web .logo-web {
  width: 12.5vw;
  height: 12.5vw;
  max-width: 23vh;
  max-height: 23vh;
  margin: 1vw;
  border-radius: 0.5em;
  border: 1vw #03dac5 solid;
  background: url(../images/logo-header/vsc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .web .figma {
  background: url(../images/logo-header/figma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .web .wordpress {
  background: url(../images/logo-header/wordpress.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .detail {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .detail .welcome {
  padding: 5px 10px;
  background-color: #e5e5e5;
  border-radius: 40rem;
  display: inline-block;
  margin: 5px;
}

header .detail h1 {
  margin: 5px;
}

header .detail h1 .designer {
  color: #03dac5;
}

header .detail h1 .developer {
  color: #6200ee;
}

header .detail p {
  margin: 5px;
  text-align: center;
  color: #686868;
}

header .detail button {
  margin: 5px;
}

section {
  margin: 20px;
  border-radius: 1rem;
  padding: 10px;
}

.proj-serv {
  background-color: #03dac5;
  color: white;
}

.proj-serv .serv {
  padding: 10px 5px;
}

.proj-serv .serv-title h2 {
  margin-bottom: 5px;
}

.proj-serv .serv-title p {
  margin: 5px;
  text-align: center;
}

.proj-serv .serv-desc {
  display: grid;
  grid-template-columns: 50% 50%;
}

.proj-serv .serv-desc .serv-container {
  padding: 3px 5px;
  margin: 10px;
  background-color: white;
  border-radius: 1rem;
}

.proj-serv .serv-desc .serv-container p {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

.proj-serv .proj {
  padding: 10px 5px;
}

.proj-serv .proj-title h2 {
  margin-bottom: 5px;
}

.proj-serv .proj-title p {
  margin: 5px;
  text-align: center;
}

.proj-serv .proj-desc {
  /* Slideshow container */
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
}

.proj-serv .proj-desc .slideshow-container {
  max-width: 550px;
  max-height: 450px;
  position: relative;
  margin: auto;
}

.proj-serv .proj-desc .mySlides {
  display: none;
  padding: 10px;
  background-color: white;
  border-radius: 1rem;
}

.proj-serv .proj-desc .prev,
.proj-serv .proj-desc .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 1rem 0 0 1rem;
  user-select: none;
}

.proj-serv .proj-desc .next {
  right: 0;
  border-radius: 0 1rem 1rem 0;
}

.proj-serv .proj-desc .prev:hover,
.proj-serv .proj-desc .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.proj-serv .proj-desc .text {
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 60%;
  text-align: center;
}

.proj-serv .proj-desc .text a {
  font-weight: bold;
  color: black;
  padding: 5px;
  background-color: white;
  border-radius: 2rem;
}

.proj-serv .proj-desc .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.proj-serv .proj-desc .dot-container {
  text-align: center;
  position: relative;
  bottom: 4em;
}

.proj-serv .proj-desc .dot-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.proj-serv .proj-desc .dot-container .active,
.proj-serv .proj-desc .dot-container .dot:hover {
  background-color: #717171;
}

.proj-serv .proj-desc .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.faq-contact {
  background-color: #6200ee;
  color: white;
}

.faq-contact .faq {
  padding: 10px 15px;
}

.faq-contact .faq-title h2 {
  margin-bottom: 5px;
}

.faq-contact .faq-desc .faq-container .btn-faq {
  border-radius: 4rem;
  background-color: #3700b3;
  width: 100%;
  text-align: left;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  margin: 10px 0;
  font-size: 18px;
}

.faq-contact .faq-desc .faq-container .btn-faq::after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../images/arrow.svg") no-repeat;
  background-size: 1.75rem;
  right: 1rem;
  position: absolute;
  display: inline-block;
  transition: transform 1s ease-out;
}

.faq-contact .faq-desc .transform::after {
  transform: rotate(180deg);
  transition: transform 1s ease-out;
}

.faq-contact .faq-desc .container-faq-answer {
  /* visibility: hidden; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
  font-size: 16px;
}

.faq-contact .faq-desc .container-faq-answer.active {
  /* visibility: visible; */
  max-height: 700px;
  transition: max-height 0.7s ease-in;
}

.faq-contact .faq-desc .container-faq-answer.active ul {
  padding: 10px 30px;
}

.faq-contact .contact {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: auto;
}

.faq-contact .contact .email h2 {
  background-color: #3700b3;
  border-radius: 1rem;
  padding: 5px;
  width: fit-content;
  margin: 10px auto;
}

.faq-contact .contact .email form {
  background-color: white;
  color: black;
  margin: 10px 0;
  border-radius: 1rem;
  padding: 5px 10px;
}

.faq-contact .contact .email form div {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.faq-contact .contact .email form div input {
  padding: 3px;
}

.faq-contact .contact .email form button {
  max-width: 100px;
  margin: 5px auto;
  font-size: 16px;
  background-color: #03dac5;
  border-color: #018786;
}

.faq-contact .contact .email form button:hover {
  background-color: #018786;
  border-color: #018786;
}

.faq-contact .contact .cta {
  padding: 0 20px;
  display: flex;
}

.faq-contact .contact .cta .work {
  display: flex;
  align-items: center;
}

.faq-contact .contact .cta .work button {
  width: 30%;
  min-height: 180px;
  min-width: 150px;
  margin: 5px auto;
  background-color: white;
  border-color: green;
}

.faq-contact .contact .cta .work button a {
  color: green;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.faq-contact .contact .cta .messenger button {
  border-color: #018786;
}

.faq-contact .contact .cta .messenger button a {
  color: #018786;
}

footer {
  display: grid;
  padding: 5px;
  grid-template-columns: auto;
}

footer h3 {
  text-align: center;
  font-size: 16px;
}

footer .footer-logo-section {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-logo-section img {
  width: 50%;
}

footer .footer-logo-section h3 {
  margin-top: -10px;
}

footer .footer-description-section {
  padding: 15px 20px 10px;
}

footer .footer-description-section p {
  text-align: center;
}

footer .footer-useful-link-section {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-useful-link-section a {
  text-decoration: underline;
}

footer .footer-social-media-section {
  padding: 15px 20px 10px;
}

footer .footer-social-media-section div {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

footer .footer-social-media-section div a {
  margin: 10px 10px;
}

footer .footer-social-media-section div a img {
  min-width: 15px;
}

footer .copyright {
  text-align: center;
}

button {
  background-color: #6200ee;
  border: 0.3rem #3700b3 solid;
  color: white;
  border-radius: 0.5rem;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  button {
    font-size: 20px;
  }
  .nav {
    display: flex;
  }
  .nav .container {
    display: none;
  }
  .nav .navigation {
    position: static;
    visibility: visible;
    transform: translateY(0);
    height: fit-content;
    flex-direction: row;
    margin-top: 10px;
    margin-left: auto;
    width: fit-content;
  }
  .nav .navigation a {
    margin: 0 10px;
  }
  header {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  header .profile {
    grid-area: 1 / 3;
    padding: 20px;
  }
  header .web {
    grid-area: 1 / 2;
    flex-direction: column;
  }
  header .detail {
    grid-area: 1 / 1;
  }
  .proj-serv .serv-desc {
    grid-template-columns: auto auto auto auto;
  }
  .proj-serv .serv-desc .serv-container p {
    font-size: 18px;
  }
  .proj-serv .proj-desc div {
    margin: 10px 50px;
  }
  .faq-contact .contact {
    grid-template-columns: 30% 70%;
  }
  .faq-contact .contact .email {
    grid-area: 1 / 2;
  }
  .faq-contact .contact .cta {
    flex-direction: column;
  }
  .faq-contact .contact .work {
    grid-area: 1 / 1;
  }
  .faq-contact .contact .upwork {
    margin-top: 60px;
  }
  footer {
    grid-template-columns: auto auto;
  }
  footer h3 {
    font-size: 18px;
  }
  footer .footer-logo-section img {
    width: 30%;
  }
  footer .footer-description-section {
    padding: 5% 20px 10px;
  }
  footer .footer-social-media-section {
    padding: 3% 20px 10px;
  }
  footer .footer-social-media-section div {
    padding: 0 15%;
  }
  footer .copyright {
    grid-area: 3/1 / 3 / span 2;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin: 10px;
  }
  h2 {
    font-size: 30px;
    margin: 10px;
  }
  p {
    margin: 10px;
  }
  button {
    font-size: 25px;
  }
  header .detail .welcome {
    margin: 10px;
  }
  header .detail button {
    margin: 10px;
  }
  .proj-serv .serv-desc .serv-container {
    margin: 10px 50px;
  }
  .faq-contact .faq {
    padding: 10px 50px;
  }
  .faq-contact .contact {
    padding: 10px 50px;
  }
  .faq-contact .contact .email form {
    width: 70%;
    margin: auto;
  }
  .faq-contact .contact .work .button {
    width: 50%;
  }
  footer {
    grid-template-columns: auto auto auto auto;
  }
  footer .footer-description-section {
    padding: 5% 20px 10px;
  }
  footer .footer-useful-link-section {
    padding: 10% 20px 10px;
  }
  footer .footer-social-media-section {
    padding: 5% 20px 10px;
  }
  footer .copyright {
    grid-area: 2/1 / 2 / span 4;
  }
}

/* animation */
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 0.7s ease-in;
  -moz-animation: fade-bottom 0.7s ease-in;
  -webkit-animation: fade-bottom 0.7s ease-in;
}

.active.fade-left {
  animation: fade-left 0.7s ease-in;
  -moz-animation: fade-left 0.7s ease-in;
  -webkit-animation: fade-left 0.7s ease-in;
}

.active.fade-right {
  animation: fade-right 0.7s ease-in;
  -moz-animation: fade-right 0.7s ease-in;
  -webkit-animation: fade-right 0.7s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
