@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap");

$Primary-L: #03dac5;
$Primary-D: #018786;
$Secondary-L: #6200ee;
$Secondary-D: #3700b3;
$Background: white;
$Silver: #e5e5e5;
$Silver-cyan: #d8eef3;
$Text: black;
$Silver-text: #686868;

$font-stack1: "Merriweather", serif;
$font-stack2: "Open Sans", sans-serif;
